.menu-wrap {
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 1;
}

.menu-wrap .toggler {
    margin: 0;
    width: 50px;
    height: 50px;
    opacity: 0;
    position: absolute;
    left: 0;
    z-index: 2;
    cursor: pointer;
}

.menu-wrap .hamburger {
    padding: 0rem;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    z-index: 1;
}

/* Hamburger line */
.menu-wrap .hamburger > div {
    width: 100%;
    height: 3px;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.4s ease;
}

/* Change width on hover */

.menu-wrap .toggler:hover + .hamburger > div {
    width: 75%;
}

/* Top and bottom lines */
.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after {
    width: 100%;
    height: 3px;
    background: #FFFFFF;
    position: absolute;
    z-index: 1;
    top: -15px;
    content: '';
}

/* Moves lines down */
.menu-wrap .hamburger > div:after {
    top: 15px;
}

/* Toggler animate */
.menu-wrap .toggler:checked + .hamburger > div {
    background: #000000;
    transform: rotate(135deg);
}

/* Turn lines into X */ 
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
    background: #000000;
    top: 0;
    transform: rotate(90deg);
}

/* Rotate on hover when checked */ 
.menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
}

/* Show menu */ 
.menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
    opacity: 1;
    transition-duration: 0.4s;
}

.menu-wrap .menu {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
    visibility: hidden;
}

.menu-wrap .menu > div {
    width: 30rem;
    height: 100%;
    background: white;
    display: flex;
    flex: none;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.4s ease;
  }

.menu-wrap .menu > div > div > ul > li {
    width: 20rem;
    height: 5rem;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.menu-wrap .menu > div > div > ul > li > a {
    color: #808080;
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li > a:hover {
    color: #000000;
  }