:root {
  --primary-color: #EBE9E6;
  --secondary-color: #000000;
  --terciary-color: #FFFFFF;
  --section-width: 100%;
  --section-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  line-height: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-bottom: 1rem;
  text-transform: capitalize;
}

a {
  text-decoration: none;
  text-transform: capitalize;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Header */

.header {
  width: var(--section-width);
  height: 5rem;
  background-color: var(--secondary-color);
  display: flex;
  position: fixed;
  z-index: 1;
}

.container {
  margin: 0 auto;
  padding: 0 2rem;
  width: inherit;
  height: inherit;
  display: flex;
}

.header .container {
  height: inherit;
}

nav {
  width: inherit;
  height: inherit;
  display: inherit;
}

.navbar-segment {
  width: 33.33333%;
  display: inherit;
  align-items: center;
}

.header .menu .menu-reservation {
  display: none;
}

#logo-segment {
  justify-content: center;
}

.logo {
  width: 9rem;
  height: 3rem;
}

.logo img {
  width: inherit;
  height: inherit;
}

#reservation-segment {
  justify-content: right;
}

.reservation {
  width: 12rem;
  height: 3rem;
  border: solid var(--terciary-color);
  color: var(--terciary-color);
  font-size: 1rem;
  line-height: 3rem;
  text-align: center;
  transition: .25s ease-in-out;
}

.reservation:hover {
  color: var(--secondary-color);
  background-color: var(--terciary-color);
}

.reservation h1 {
  font-weight: 400;
  text-transform: uppercase;
}

/* Showcase section */

.showcase {
  height: var(--section-height);
}

img {
  
}

.showcase .container {
  background-image: url(../img/hero.jpg);
  background-size: cover;
  background-position: center;
}

/* Restaurant menu section */ 

.restaurant-menu {
  height: var(--section-height);
  display: flex; /* What does it do? */
}

.title {
  width: inherit;
  font-size: 3rem;
  font-weight: bold;
}

.description {
  margin-top: 0;
  width: inherit;
  font-size: 1.25rem;
}

.box {
  width: 100%;
  height: 2.5rem;
  display: flex;
}

.more-info {
  width: 7.5rem;
  height: inherit;
  border: solid var(--secondary-color);
  color: var(--secondary-color);
  font-size: 1.5rem;
  line-height: 2.5rem;
  text-align: center;
  text-transform: uppercase;
  transition: .25s ease-in-out;
}

.more-info:hover {
  color: var(--terciary-color);
  background-color: var(--secondary-color);
}

.split {
  width: 50%;
  height: inherit;
  position: absolute;
}

.split.left.restaurant-menu {
  background-color: var(--primary-color);
  display: inherit;
  align-items: center;
  left: 0;
}

.item {
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  padding-top: 5rem;
  display: inherit;
  flex-wrap: wrap;
}

.split.right.restaurant-menu {
  background-size: cover;
  background-position: center;
  background-image: url(../img/menu.jpg);
  right: 0;
}

/* About section */

.about {
  height: var(--section-height);
  display: flex;
}

.split.left.about {
  background-size: cover;
  background-position: center;
  background-image: url(../img/about.jpg);
  left: 0;
}

.split.right.about {
  background-color: var(--main-bg-color);
  display: inherit;
  align-items: center;
  right: 0;
}

/* Events section */

.events {
  height: var(--section-height);
  display: flex;
}

.split.left.events {
  background-color: var(--main-bg-color);
  display: inherit;
  align-items: center;
  left: 0;
}

.split.right.events {
  background-size: cover;
  background-position: center;
  background-image: url(../img/events.jpg);
  right: 0;
}

/* Contact section */ 

.contact {
  height: var(--section-height);
  display: flex;
}

.split.left.contact {
  background-size: cover;
  background-position: center;
  background-image: url(../img/contact.jpg);
  left: 0;
}

.split.right.contact {
  background-color: var(--main-bg-color);
  display: inherit;
  align-items: center;
  right: 0;
}

/* Footer */

.footer {
  height: 4rem;
  background-color: #333333;
}

.footer .container {
  width: 298.083px;
  height: inherit;
  align-items: center;
}

.copyright {
  margin: 0;
  color: var(--terciary-color);
}

/* MENU PAGE adjustments*/

.main-menu {
  height: var(--section-height);
  display: flex;
}

.split.left.main-menu {
  background-color: var(--primary-color);
  display: inherit;
  align-items: center;
  left: 0;
}

.split.right.main-menu {
  background-size: cover;
  background-position: center;
  background-image: url(../img/main-menu.jpg);
  right: 0;
}

/* ABOUT PAGE adjustments */ 

.main-about {
  height: var(--section-height);
  display: flex;
}

.split.left.main-about {
  background-color: var(--primary-color);
  display: inherit;
  align-items: center;
  left: 0;
}

.split.right.main-about {
  background-size: cover;
  background-position: center;
  background-image: url(../img/main-about.jpg);
  right: 0;
}

/* EVENTS PAGE adjustments */

.main-events {
  height: var(--section-height);
  display: flex;
}

.split.left.main-events {
  background-color: var(--primary-color);
  display: inherit;
  align-items: center;
  left: 0;
}

.split.right.main-events {
  background-size: cover;
  background-position: center;
  background-image: url(../img/main-events.jpg);
  right: 0;
}

/* CONTACT PAGE adjustments */

.main-contact {
  height: var(--section-height);
  display: flex;
}

.split.left.main-contact {
  background-color: var(--primary-color);
  display: inherit;
  align-items: center;
  left: 0;
}

.split.right.main-contact {
  background-size: cover;
  background-position: center;
  background-image: url(../img/main-contact.jpg);
  right: 0;
}





.contact-form {
  width: inherit;
}

.input-fields,
.message {
  display: flex;
  flex-wrap: wrap;
}

input, 
textarea {
  width: 100%;
  margin-bottom: 1rem;
  padding-left: 0.5rem;
  font-size: 1.25rem;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  line-height: 2rem;
  border: solid var(--secondary-color);
  color: var(--secondary-color);
  background-color: var(--primary-color);
} 

/*

input {
  font-size: 1.25rem;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  line-height: 2rem;
  border: solid var(--secondary-color);
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

.contact-form .msg textarea {
  height: 6rem;
}

*/

/* RESERVATION PAGE adjustments */

.main-reservation {
  height: var(--section-height);
  display: flex;
}

.split.left.main-reservation {
  background-color: var(--primary-color);
  display: inherit;
  align-items: center;
  left: 0;
}

.split.right.main-reservation {
  background-size: cover;
  background-position: center;
  background-image: url(../img/main-reservation.jpg);
  right: 0;
}

/* Media queries */

@media screen and (max-width: 767px) {

  /* Header */

  .navbar-segment {
    width: 50%;
  }

  .header .menu .menu-reservation {
    display: flex;
  }

  #logo-segment {
    justify-content: right;
  }

  #reservation-segment {
    display: none;
  }

  /* Restaurant menu section */

  .item {
    padding-top: 0;
  }

  .split {
    width: 100%;
    height: 50vh;
  }

  .split.left.restaurant-menu {
    top: 150vh; 
  }

  .split.right.restaurant-menu {
    top: 100vh; 
  }

  /* About section */

  .split.left.about {
    top: 200vh;
  }

  .split.right.about {
    top: 250vh;
  }

  /* Events section */

  .split.left.events {
    top: 350vh; 
  }

  .split.right.events {
    top: 300vh; 
  }

  /* Contact section */

  .split.left.contact {
    top: 400vh; 
  }

  .split.right.contact {
    top: 450vh; 
  }

  /* MENU PAGE adjustments*/

  .split.left.main-menu {
    top: 50vh;
  }

  /* ABOUT PAGE adjustments */

  .split.left.main-about {
    top: 50vh;
  }

  /* EVENTS PAGE adjustments */

  .split.left.main-events {
    top: 50vh;
  }

  /* CONTACT PAGE adjustments */

  .split.left.main-contact {
    height: 100vh;
    top: 50vh;
  }

  /* RESERVATION PAGE adjustments */

  .split.left.main-reservation {
    top: 50vh;
  }
}

/*

@media screen and (max-width: 479px) {
  .title {
    font-size: 2.25rem;
  }
      
  .description {
    font-size: 0.9375rem;
  }
      
  .more-info {
    width: 5.625rem;
    height: 1.875rem;
    font-size: 1.125rem;
    line-height: 1.875rem;
  }

  .copyright {
    font-size: 1rem;
  }
}

*/
