:root {
  --primary-color: #EBE9E6;
  --secondary-color: #000000;
  --terciary-color: #FFFFFF;
  --section-width: 100%;
  --section-height: 100vh;
}

          /*

            || General Styles 
            
          */

* {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 2rem;
}

h2 {
  margin: 0;
  margin-bottom: 1rem;
  text-transform: capitalize;
}

nav {
  width: inherit;
  height: inherit;
  display: inherit;
}

a {
  text-decoration: none;
  text-transform: capitalize;
}

ol {
  width: var(--section-width);
  margin: 0;
  padding: 0;
  list-style: none;
  display: inherit;
}

ol a {
  padding-right: 1rem;
  font-size: 1rem;
  color: var(--secondary-color);
  text-decoration: underline;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  width: 8.5rem;
  height: 2.5rem;
  line-height: 2.25rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: var(--secondary-color);
  border: solid var(--secondary-color);
  transition: .25s ease-in-out;
  cursor: pointer;
}

button:hover {
  color: var(--terciary-color);
  background-color: var(--secondary-color);
}

          /*

            || Utilities Styles 
            
          */

.container {
  margin: 0 auto;
  padding: 0 2rem;
  width: inherit;
  height: inherit;
  display: flex;
}

.box {
  margin-bottom: 1rem;
  width: var(--section-width);
  height: 2.5rem;
  display: flex;
}

.split {
  width: 50%;
  height: inherit;
  position: absolute;
}

.split.info {
  background-color: var(--primary-color);
  display: inherit;
  align-items: center;
}

.split.image {
  background-size: cover;
  background-position: center;
}

.item {
  margin: 0 auto;
  padding: 0 2rem;
  padding-top: 4rem;
  width: var(--section-width);
  display: inherit;
  flex-wrap: wrap;
}


          /*

            || Header and Navigation Styles 
            
          */

.header {
  width: var(--section-width);
  height: 5rem;
  background-color: var(--secondary-color);
  position: fixed;
  z-index: 1;
  display: flex;
}

.header .container {
  height: inherit;
}

.header .menu .menu-reservation {
  display: none;
}

.navbar-segment {
  width: 33.33333%;
  display: inherit;
  align-items: center;
}

.logo {
  width: 9rem;
  height: 3rem;
}

#reservation {
  width: 12rem;
  height: 3rem;
  line-height: 2.75rem;
  color: var(--terciary-color);
  background-color: var(--secondary-color);
  border: solid var(--terciary-color);
}

#reservation:hover {
  color: var(--secondary-color);
  background-color: var(--terciary-color);
}

#logo-segment {
  justify-content: center;
}

#reservation-segment {
  justify-content: flex-end;
}

.logo img {
  width: inherit;
  height: inherit;
}

          /*

            || Showcase Styles 
            
          */

.showcase {
  height: var(--section-height);
}

.image-container {
  height: inherit;
  background-size: cover;
  background-position: center;
}

.showcase .image-container {
  background-image: url(../img/hero.jpg);
}

          /*

            || Restaurant Menu Styles
            
          */

.restaurant-menu {
  height: var(--section-height);
  display: flex; /* What does it do? */
}

.title {
  margin-top: 1rem;
  width: inherit;
  font-size: 3rem;
  font-weight: bold;
}

.description {
  margin-top: 0;
  width: inherit;
  font-size: 1.25rem;
}

.split.info.restaurant-menu {
  left: 0;
}

.split.image.restaurant-menu {
  background-image: url(../img/menu.jpg);
  right: 0;
}

          /*

            || About Styles
            
          */

.about {
  height: var(--section-height);
  display: flex;
}

.split.info.about {
  right: 0;
}

.split.image.about {
  background-image: url(../img/about.jpg);
  left: 0;
}

#meet-team-button {
  margin-left: 1rem;
}

          /*

            || Events Styles
            
          */

.events {
  height: var(--section-height);
  display: flex;
}

.split.info.events {
  left: 0;
}

.split.image.events {
  background-image: url(../img/events.jpg);
  right: 0;
}

          /*

            || Contact Styles
            
          */

.contact {
  height: var(--section-height);
  display: flex;
}

.split.info.contact {
  right: 0;
}

.split.image.contact {
  background-image: url(../img/contact.jpg);
  left: 0;
}

          /*

            || Footer Styles
            
          */

.footer {
  height: 4rem;
  background-color: #333333;
}

.footer .container {
  width: auto;
  height: inherit;
  justify-content: center;
  align-items: center;
}

.copyright {
  margin: 0;
  color: var(--terciary-color);
}

          /*

            || Restaurant Menu Page Styles
            
          */

.main-menu {
  height: var(--section-height);
  display: flex;
}

.split.info.main-menu {
  left: 0;
}

.split.image.main-menu {
  background-image: url(../img/main-menu.jpg);
  right: 0;
}

          /*

            || About Page Styles
            
          */

.main-about {
  height: var(--section-height);
  display: flex;
}

.split.info.main-about {
  left: 0;
}

.split.image.main-about {
  background-image: url(../img/main-about.jpg);
  right: 0;
}

          /*

            || Events Page Styles
            
          */

.main-events {
  height: var(--section-height);
  display: flex;
}

.split.info.main-events {
  left: 0;
}

.split.image.main-events {
  background-image: url(../img/main-events.jpg);
  right: 0;
}

.birthday {
  height: var(--section-height);
  display: flex;
}

.split.info.birthday {
  right: 0;
}

.split.image.birthday {
  background-image: url(../img/birthday.jpg);
  left: 0;
}

.pool {
  height: var(--section-height);
  display: flex;
}

.split.info.pool {
  left: 0;
}

.split.image.pool {
  background-image: url(../img/pool.jpg);
  right: 0;
}

          /*

            || Contact Page Styles
            
          */

.main-contact {
  height: var(--section-height);
  display: flex;
}

.split.info.main-contact {
  left: 0;
}

.split.image.main-contact {
  background-image: url(../img/main-contact.jpg);
  right: 0;
}

#contact-form {
  width: inherit;
  height: inherit;
  display: inherit;
  flex-wrap: wrap;
}

#user-name,
#user-email,
#user-mobile,
#user-message {
  margin-bottom: 1rem;
  padding-left: 0.5rem;
  width: 100%;
  line-height: 2rem;
  font-size: 1.25rem;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border: solid var(--secondary-color);
}

          /*

            || Reservation Page Styles
            
          */

.main-reservation {
  height: var(--section-height);
  display: flex;
}

.split.info.main-reservation {
  left: 0;
}

.split.image.main-reservation {
  background-image: url(../img/main-reservation.jpg);
  right: 0;
}

          /*

            || Responsive Design
            
          */

@media screen and (max-width: 767px) {

  /* Makes the reservation button disappear from the header in mobile mode */

  .navbar-segment {
    width: 50%;
  }

  .header .menu .menu-reservation {
    display: flex;
  }

  /* Adjusts positions in mobile mode putting the image in the top, and then the information */

  .item {
    padding-top: 0;
  }

  .split {
    width: var(--section-width);
    height: 50vh;
  }

  .split.image.restaurant-menu {
    top: 100vh; 
  }

  .split.info.restaurant-menu {
    top: 150vh; 
  }

  .split.image.about {
    top: 200vh;
  }

  .split.info.about {
    top: 250vh;
  }

  .split.image.events {
    top: 300vh; 
  }

  .split.info.events {
    top: 350vh; 
  }

  .split.image.contact {
    top: 400vh; 
  }

  .split.info.contact {
    top: 450vh; 
  }

  .split.info.main-menu {
    top: 50vh;
  }

  .split.info.main-about {
    top: 50vh;
  }

  .split.info.main-events {
    top: 50vh;
  }

  .split.image.birthday {
    top: 100vh;
  }

  .split.info.birthday {
    top: 150vh;
  }

  .split.image.pool {
    top: 200vh;
  }

  .split.info.pool {
    top: 250vh;
  }

  .split.info.main-contact {
    height: 80vh;
    top: 50vh;
  }

  .split.info.main-reservation {
    top: 50vh;
  }

  #logo-segment {
    justify-content: flex-end;
  }

  #reservation-segment {
    display: none;
  }
}

@media screen and (max-width: 479px) {
  ol a {
    font-size: 0.75rem;
  }

  .title {
    font-size: 2.25rem;
  }
      
  .description {
    font-size: 0.9375rem;
  }

  .copyright {
    font-size: 1rem;
  }

  #user-name,
  #user-email,
  #user-mobile,
  #user-message {
    font-size: 0.9375rem;
    line-height: 1.5rem;
  } 

  #submit-button {
    width: 5.625rem;
    height: 1.875rem;
    font-size: 1.125rem;
    line-height: 1.875rem;
  }
}
